<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/deny.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'script/result.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Not Approved</title>
</head>

<body>
    <div id="wrapper">

        <div id="header">
            <img src="static/images/jetpic.jpg" alt="jet_pic" style="width:50px">
            <h1>Speedy Loans</h1>
            <p>Finished</p>
        </div>

        <div id="deny">
            <h2> Loan Not Approved </h2>
        </div>

        <div id="message">
            <p>Dear <strong>{{data.first_name}} {{data.last_name}}</strong>,</p>
            <p>After Review, we are unable to instantly pre-qualify you for a loan at this time. To complete a full application, please call us at the number below 24/7. Please follow us on twitter!</p>
        
            <p> Application Date: {{data.created_at}}</p>
        </div>

        <div id="footer">
            <p>1-800-Speedy1</p>
        </div>

    </div>

</body>
</html>