<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'script/index.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Loans Made Better</title>
</head>
<body>
    <div id="wrapper">
        
        <div id="header">
            <h1>Speedy Loans</h1>
            <img src="static/images/jetpic.jpg" alt="jet_pic" style="width:100px">
            <p>1-800-Speedy1</p>
            <a href="">Step 1<img src="static/images/arrow.jpg" alt="arrow_pic" style="width:75px"></a>
        </div>

        <div id="start_box">
            <p>Get Qualified for a home loan in 3 easy steps:</p>
            
            <ol>Enter your:
                <li>Income</li>
                <li>Credit Score Range</li>
                <li>Assets & Liabilies</li>
            </ol>

            <button id="start_button">Start Now</button>
        </div>
        
    </div>
</body>
</html>