<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'script/index.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Loans Made Better</title>
</head>
<body>
    <div id="wrapper">
        
        <div id="header">
            <img src="static/images/jetpic.jpg" alt="jet_pic" style="width:50px">
            <h1>Speedy Loans</h1>
            <a href="" class="arrow">Step 1<img class="arrow" src="static/images/arrow.jpg" alt="arrow_pic" style="width:25px"></a>
        </div>

        <div id="pic_bar">
            <img src="static/images/loan_pic1.jpg" alt="" style="height:200px">
            <img src="static/images/loan_pic2.jpg" alt="" style="height:200px">
            <img src="static/images/loan_pic3.jpg" alt="" style="height:200px">
        </div>

        <div id="start_box">
            <p>Get Qualified for a home loan in 3 easy steps by entering your:</p>
            <ol>
                <li>Income</li>
                <li>Credit Score Range</li>
                <li>Assets & Liabilies</li>
            </ol>

            <button id="start_button">Start Now</button>
        </div>

        <div id="footer">
            <p>1-800-Speedy1</p>
        </div>
        
    </div>
</body>
</html>